<!doctype html>
<html lang="en" ng-app="duper-hexagon">
<head>
    <meta charset="UTF-8"/>
    <title>Duper Hexagon</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/lib/phaser.js"></script>
    <script src="js/duper-hexagon.js"></script>
    <script src="js/app.js"></script>
    <script src="js/MainCtrl.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body ng-controller="MainCtrl">
<div id="main">
    <div id="game-wrapper">
        <div id="game"></div>
        <div id="menu" ng-show="state.started === false || state.crashed === true">
            <span ng-if="state.started === false">
                <h3>Duper Hexagon</h3>
            </span>
            <span ng-show="state.crashed === true">
                <h3>Your time: {{state.time}} s.</h3>
                <p>
                    <span ng-show="state.best_times[state.current_level] > state.time">
                        Your record: {{state.best_times[state.current_level]}} s.</span>
                    <span ng-show="state.best_times[state.current_level] <= state.time">
                        New record!</span>
                </p>
                <p>Press Enter to restart, or choose another level:</p>
            </span>
            <button ng-click="state.start(1)">Level 1</button>
            <button ng-click="state.start(2)">Level 2</button>
        </div>
    </div>
    <p>Press Left and Right to turn. Hit Enter to restart if you've crashed.</p>
</div>
</body>
</html>