<!doctype html>
<html lang="en" ng-app="duper-hexagon">
<head>
    <meta charset="UTF-8"/>
    <title>Duper Hexagon</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/phaser/build/phaser.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="js/app.min.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body ng-controller="MainCtrl" ng-keydown="state.onKeyDown($event)">
<div id="main">
    <div id="game-wrapper">
        <div id="game"></div>
        <div id="floating">
            <div id="welcome" class="cover-game center semiopaque" ng-if="state.mode === 'welcome'">
                <div class="center-text">
                    <h1>Duper Hexagon</h1>
                    <h3>PRESS ENTER TO START</h3>
                    <div class="corner">
                        <input type="checkbox" ng-model="state.disable_music" id="disable_music">
                        <label for="disable_music">Disable music</label>
                    </div>
                </div>
            </div>

            <div id="hints" class="cover-game center shadow-text" ng-show="state.mode === 'hints'">
                <div class="center-text">
                    <p ng-repeat="line in state.hints">
                        {{line}}
                    </p>
                </div>
            </div>

            <div id="loading" class="cover-game center shadow-text" ng-show="state.mode === 'loading'">
                <div class="center-text">
                    <p>Loading...</p>
                </div>
            </div>

            <div id="menu" class="cover-game semiopaque center" ng-show="state.mode === 'menu'">
                <h3 class="flex-title">Choose a level</h3>
                <div ng-repeat="level in state.level_names track by $index" class="level"
                     ng-class="{active: state.unlocked[$index], selected: state.selected_level === $index}"
                     ng-click="state.start($index)">
                    <p ng-show="state.unlocked[$index]">{{level}}</p>
                    <p ng-show="!state.unlocked[$index]">Locked</p>
                </div>
            </div>

            <div id="post-crash" class="cover-game semiopaque center" ng-show="state.mode === 'crashed'">
                <div class="center-text">
                    <h3>Your time: {{state.time}} s.</h3>
                    <p ng-show="state.best_times[state.current_level] > state.time">
                        Your record: {{state.best_times[state.current_level]}} s<span
                            ng-show="state.best_times[state.current_level] < state.unlock_at
                            && !state.unlocked[state.current_level + 1]"><span
                            ng-show="state.next_unlock.length > 0">. Unlock new levels at {{state.unlock_at}}
                            s</span><span ng-show="state.next_unlock.length === 0">
                            (target: {{state.unlock_at}} s)</span></span>.
                    </p>
                    <div ng-show="state.best_times[state.current_level] <= state.time">
                        <p>New record!</p>
                        <div ng-show="state.next_unlock.length > 0">
                            <p ng-show="state.best_times[state.current_level] <= state.unlock_at">
                                Unlock new levels at at {{state.unlock_at}} s.
                            </p>
                            <div ng-show="state.best_times[state.current_level] > state.unlock_at">
                                <p>You have unlocked the following levels:</p>
                                <p ng-repeat="level in state.next_unlock">
                                    - {{state.level_names[level]}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <p>Press Enter to restart<span ng-show="state.unlocked[1]">, or Escape to select another
                        level.</span></p>
                </div>
            </div>

            <div id="timer" class="shadow-text corner" ng-show="state.started === true && state.crashed === false">
                <h3>{{state.time}}</h3>
            </div>
        </div>
    </div>
    <p>Written by <a href="https://github.com/unpollito/">unpollito</a> in JavaScript using
        <a href="http://phaser.io/">Phaser</a> and <a href="https://angular.io/">Angular</a>. The game code is licensed
        under <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt">GPLv2</a>.
        <a href="https://github.com/unpollito/duper-hexagon">Sources in GitHub</a></p>
    <p>Duper Hexagon is a <span class="strike">shameless ripoff</span> tribute to
        <a href="http://superhexagon.com/">Super Hexagon</a>, the blockbuster game by
        <a href="http://distractionware.com/blog/about-me/">Terry Cavanagh</a>.</p>
    <p>The awesome music for this game is provided by <a href="http://wradion.weebly.com/">wRadion</a>, who licensed it
        under <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> and gave me permission
        to use it in this project.</p>
</div>
</body>
</html>